@charset "UTF-8";
/* �⺻ ��Ÿ�� */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* ����: �Ͼ�� */
  color: #000000; /* ���ڻ�: ������ */
}

/* ��� ��Ÿ�� */
header {
  background-color: #e0e0e0; /* ž�� ����: ȸ�� */
  color: #333333; /* ��� ���ڻ� */
  padding: 20px;
  text-align: center;
}

header h3 {
  margin: 0;
  font-size: 1.8em;
}



/* ������ ��ȣ ��Ÿ�� */
.page-numbers {
  display: flex; /* ���� ���� */
  justify-content: center; /* ��� ���� */
  flex-direction: row;
  color: #333;
  margin: 0 10px; /* ��ũ �� �¿� ���� �߰� */
}

.t2 {
  display: flex; /* �÷��� �ڽ� Ȱ��ȭ */
  flex-direction: column; /* ���� ���� */
  align-items: center; /* ��� ���� */
}

/* ��Ŭ��� ��� ��Ÿ�� */
div {
  display: flex;
  flex-direction: column; /* ���η� ��ġ */
  width: 80%;
  margin: 20px auto;
  padding: 20px;
  background-color: #ffffff; /* ����: �Ͼ�� */
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* ���̺� ��Ÿ�� */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

table th {
  background-color: #f4f4f4;
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* ������ ��ũ ��Ÿ�� */
a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
}

a:hover {
  text-decoration: underline;
}

h3 {
	text-align: left;
}