@charset "UTF-8";

/* 헤더 스타일 */
#base {
  background-color: #e0e0e0; /* 탑쪽 배경색: 회색 */
  color: #333333; /* 헤더 글자색 */
  padding: 20px;
  display: inline;
}

header h3 {
  margin: 0;
  font-size: 1.8em;
}

/* 레이아웃 스타일 */
.parent-div {
    display: flex; /* 가로 정렬을 위한 플렉스 박스 */
    align-items: flex-start; /* 상단에 맞춰 정렬 */
    gap: 20px; /* 요소 간격 */
    display: block;
}

.main-content {
	flex: 1; /* 남은 공간을 차지 */
    padding: 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1); /* 박스 그림자 */
    border-radius: 5px; /* 둥근 모서리 */
    box-sizing: border-box; /* 패딩 포함 */
    background-color: #f8f9fa; /* 본문 배경색 */
    border: 1px solid #ddd; /* 경계선 */
}

/* 테이블 스타일 */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table th, table td {
  border: 1px solid #ccc;
  text-align: center;
  padding: 10px;
}

table th {
  background-color: #f4f4f4;
  color: #333;
}

table tr:nth-child(even) {
  background-color: #f9f9f9;
}

table tr:hover {
  background-color: #f1f1f1;
}

/* 페이지 링크 스타일 */
.page-numbers {
  display: flex;
  justify-content: center;
  margin: 20px auto; /* 상하 간격 추가 */
}

.page-numbers a {
  text-decoration: none;
  color: #333;
  margin: 0 5px;
}

.page-numbers a:hover {
  text-decoration: underline;
}