<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>취업 정보 | 공개 채용</title>
</head>

<body>
    <h1>공개 채용</h1>
    <div class="menu">
        <ul>
          <li><a href="open.html">공개 채용</a></li>
          <li><a href="always.html">상시 채용</a></li>
          <li><a href="fair.html">취업 박람회</a></li>
          <li><a href="50.html">50대 기업</a></li>
        </ul>
      </div>
<button type="button">글쓰기</button> 
<a href="../manager/openrecruit_mng.html">관리자 페이지</a><!-- 관리자 페이지로 이동-->

    <div class="recruit-list">
        <h2>채용 정보</h2>
        누르면 회사 홈페이지로 이동합니다.
        <table border="1">
            <tr>
                <td colspan="2">회사명</td>
            </tr>
            <tr>
                <td colspan="2">공고명</td>
            </tr>
            <tr>
                <td>직종</td>
                <td>직무</td>
            </tr>
            <tr>
                <td colspan="2">지역</td>
            </tr>
        
        </table>
    </div>

</body>

</html>