<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.CareerMapper">

<insert id="insertCareer" parameterType="com.itwillbs.domain.CareerDTO">
INSERT INTO job_history (
   member_num,
   jh_Corporation,
   jh_department,
   work_content,
   start_date,
   end_date
 ) VALUES (
   #{memberNum},
   #{jhCorporation},
   #{jhDepartment},
   #{workContent},
   #{startDate},
   #{endDate}
 )
</insert>
  
<select id="getCareerList" parameterType="int" resultType="com.itwillbs.domain.CareerDTO">
  SELECT * FROM job_history
  WHERE member_num = #{memberNum}
</select>

<delete id="deleteCareerByMemberNum">
	DELETE FROM job_history WHERE member_num = #{memberNum}
</delete>

<delete id="deleteCareer" parameterType="int">
	delete from job_history
	where jh_id = #{jhId}
</delete>




</mapper>
