<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.EducationMapper">

  <select id="getEducationList" parameterType="int" resultType="com.itwillbs.domain.EducationDTO">
  	select 
	e.member_num, 
	e.education_school,
	s.school_name as schoolName, 
	e.eduhigh_id,
	h.eduhigh_name, 
	e.education_major, 
	e.major_detail,
	e.education_verification
	from education e
	left join edu_high h 
	on e.eduhigh_id = h.eduhigh_id
	left join school s 
	on e.education_school = s.school_id
	where e.member_num = #{memberNum}
  </select>
  
  <insert id="insertEducation" parameterType="com.itwillbs.domain.EducationDTO">
  	insert into education
  	(member_num, education_school, education_major, major_detail)
  	values
  	(#{memberNum}, #{educationSchool}, #{educationMajor}, #{majorDetail})
  </insert>
  
  <select id="getEducationByMemberNum" parameterType="int" resultType="com.itwillbs.domain.EducationDTO">
  	select 
	e.member_num, 
	e.education_school,
	s.school_name as schoolName, 
	e.eduhigh_id,
	h.eduhigh_name, 
	e.education_major, 
	e.major_detail,
	e.education_verification
  	from education e
  	left join edu_high h 
    on e.eduhigh_id = h.eduhigh_id
  	left join school s 
    on e.education_school = s.school_id
  	where e.member_num = #{memberNum}
  </select>
  
  <update id="updateEducation" parameterType="com.itwillbs.domain.EducationDTO">
  	UPDATE education
  	SET 
    education_school = #{educationSchool},
    education_major = #{educationMajor},
    major_detail = #{majorDetail},
    education_verification = #{educationVenification}
  	WHERE member_num = #{memberNum}
  </update>

  
</mapper>
