<?xml version="1.0" encoding="UTF-8"?>

<!--
	https://mybatis.org/mybatis-3/getting-started.html 
	src/main/resources/mapper폴더/MemberMapper.xml파일 
	
-->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.itwillbs.mapper.JobMapper">

  <!-- 직무 목록 가져오기 -->
    <select id="getOccupations" resultType="com.itwillbs.domain.OccupationDTO">
        SELECT occupation_id AS occupationId,
               occupation_name AS occupationName
        FROM occupation
    </select>

    <!-- 특정 직무 ID에 따른 직종 목록 가져오기 -->
    <select id="getJobsByOccupation" parameterType="int" resultType="com.itwillbs.domain.JobDTO">
        SELECT job_id AS jobId,
               occupation_id AS occupationId,
               job_name AS jobName
        FROM job
        WHERE occupation_id = #{occupationId}
    </select>
    
    <select id="getMaxNum" resultType="com.itwillbs.domain.RecruitDTO">
    	select max(recruit_id) from recruit
    </select>
    
    <insert id="insertRecruit">
    	insert into recruit
    	( corporationMember_num, recruit_occupation, recruit_job, recruit_location,
    	recruit_eduhigh, recruit_salary, recruit_content, recruit_date, recruit_workday,
    	recruit_photo, recruit_deatline ,recruit_name, recruit_careear )
    	value 
    	( #{corporationMemberNum}, #{recruitOccupation}, #{recruitJob},
    	#{recruitLocation}, #{recruitEduhigh}, #{recruitSalary}, #{recruitContent},
    	#{recruitDate}, #{recruitWorkday}, #{recruitPhoto}, #{recruitDeatline}, #{recruitName}, #{recruitCareear})
    </insert>
    
	<select id="coverList" resultType="com.itwillbs.domain.RecruitDTO">
    	SELECT *
		FROM recruit
		where corporationMember_num = #{corporationMemberNum}
		order by recruit_id desc
  		limit #{startRow}, #{pageSize}
    </select>
    
    <select id="contentBoard" resultType="com.itwillbs.domain.RecruitDTO">
    	SELECT *
		FROM recruit
		where recruit_id = #{recruitId}
    </select>
    <select id="occupationNum" resultType="com.itwillbs.domain.OccupationDTO">
    	SELECT *
		FROM occupation
		where occupation_id = #{occupationId}
    </select>
    
    <select id="jobNum" resultType="com.itwillbs.domain.JobDTO">
    	SELECT *
		FROM job
		where job_id = #{jobId} and occupation_id = #{occupationId}
    </select>
    
    <select id="eduHighName" resultType="com.itwillbs.domain.EduHighDTO">
    	SELECT *
		FROM edu_high
		where eduhigh_id = #{eduhighId}
    </select>
    
    <update id="updateRecruit">
    	update recruit
    	set corporationMember_num = #{corporationMemberNum}, recruit_occupation = #{recruitOccupation}, recruit_job = #{recruitJob},
    	recruit_location = #{recruitLocation},recruit_eduhigh = #{recruitEduhigh}, recruit_salary = #{recruitSalary}, recruit_content = #{recruitContent},
    	recruit_workday = #{recruitWorkday}, recruit_photo = #{recruitPhoto}, recruit_deatline = #{recruitDeatline}, recruit_name = #{recruitName}
    	, recruit_careear = #{recruitCareear}
    	where recruit_id = #{recruitId} and corporationMember_num = #{corporationMemberNum}
    </update>
    <delete id="deleteBoard">
    	delete from recruit
  		where recruit_id = #{recruitId}
    </delete>
	<select id="countBoard" resultType="java.lang.Integer">
  		select count(*) from recruit
  		where corporationMember_num = #{corporationMemberNum}
  	</select>
	<select id="resumeList" resultType="map">
		SELECT a.application_id, a.resume_pdf, a.cv_pdf, a.application_date, m.member_name, a.approved
		FROM application a 
		JOIN member m ON a.member_num = m.member_num
		WHERE a.corporationMember_num = #{corporationMemberNum}
		order by a.application_id desc
  		limit #{startRow}, #{pageSize}
	</select>
	<select id="countResume" resultType="java.lang.Integer">
  		select count(*) 
  		from application
  		where corporationMember_num = #{corporationMemberNum}
  	</select>
	<update id="updateApplicationStatus">
	    UPDATE application
	    SET approved = #{status}
	    WHERE application_id IN
	    <foreach item="applicationId" collection="applicationIds" open="(" separator="," close=")">
	        #{applicationId}
	    </foreach>
	</update>

	
	
</mapper>