<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.itwillbs.mapper.MyPageMapper">

  <insert id="insertMyPage" parameterType="com.itwillbs.domain.MyPageDTO">
<!--     INSERT INTO mypage ( -->
<!--      	 member_introduce, -->
<!--          eduhigh_id, -->
<!--          member_name, -->
<!--          member_phone, -->
<!--          member_info_c -->
<!--     ) -->
    
<!--     VALUES ( -->
<!--        #{memberIntroduce}, -->
<!--        #{eduhighId}, -->
<!--        #{memberName}, -->
<!--        #{memberPhone}, -->
<!--        #{memberInfoC} -->
<!--     ) -->
  </insert>
  
  <select id="getMyProfileByMemberNum" resultType="com.itwillbs.domain.MyPageDTO">
        select 
        member_num,
        member_name,
        member_phone,
        member_introduce,
        member_InfoC
<!--         eduhigh_id as eduhighId -->
        from member
        where member_num = #{memberNum}        		
   </select>
  
  
  
  <insert id="insertEducation" parameterType="EducationDTO">
  		insert into education
  		(member_num, education_school, education_major, major_detail)
  		values
  		(#{memberNum}, #{educationSchool}, #{educationMajor}, #{majorDetail})
  </insert>
  
  <update id="updateEducation" parameterType="EducationDTO">
		update education
		set
		education_school = #{educationSchool}, 
		education_major = #{educationMajor},
		major_detail = #{majorDetail}
		where member_num = #{memberNum}  
  </update>
  
  <update id="updateMyIntroduce" parameterType="com.itwillbs.domain.MyPageDTO">
  		update member
  		set 
  		member_introduce = #{memberIntroduce},
  		member_infoC = #{memberInfoC}
  		where member_num = #{memberNum}
  </update>

  <delete id="deleteMember" parameterType="int">
		delete 
		from member 
		where member_num = #{memberNum}  
  </delete>
</mapper>
