<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">

    <title>관리자 | FAQ 등록</title>
</head>

<body>
    <ul>
        <li><a href="member_mng.html">회원 관리</a></li>
    
        <li>
            <a href="openrecruit_mng.html">채용 공고 관리</a>
            <ul>
                <li><a href="openrecruit_mng.html">공개 채용 관리</a></li>
                <li><a href="alwaysrecruit_mng.html">상시 채용 관리</a></li>
            </ul>
        </li>
    
        <li>
            <a href="board_mng.html">게시판 관리</a>
            <ul>
                <li><a href="review_employment_mng.html">취업 후기 게시판 관리</a></li>
                <li><a href="review_interview_mng.html">면접 후기 게시판 관리</a></li>
                <li><a href="FAQ_mng.html">FAQ 게시판 관리</a></li>
            </ul>
        </li>
    
        <li><a href="fair_mng.html">취업 박람회 관리</a></li>
    </ul>


    <h1>FAQ 등록</h1>

    <form action="#" method="post">
        <label for="faq_subject">faq_subject:</label><br>
        <input type="text" id="faq_subject" name="faq_subject" required><br><br>

        <label for="faq_content">faq_content:</label><br>
        <input type="text" id="faq_content" name="faq_content" required><br><br>

        <input type="submit" value="등록">

</body>

</html>